@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+25+Charted&display=swap');

*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: rgb(180, 180, 180);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100wh;
}

/*menu*/
.text{
    color: white;
    background-color: #11114e;
    font-family: Jaro;
    text-align: center;
    align-content: center;
    font-size: 30px;
    height: 100px;
}
/*fim do menu*/

.exe{
    height: 150px;
    border-radius: 10px;
    background-color: white;
    font-family: Arial, sans-serif;
}
.exe a{
    text-decoration: none;
    color: black;
}